
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(232, 208, 208);
}
.container{
display: grid;
grid-template-columns:repeat(1,1fr);

}

h2{
  text-align: center;
  margin: 10px;
}

.product {
  border: 1px solid black;
  width: 200px;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}

.product img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

#products {
  display: flex;
  flex-wrap: wrap;
}
