* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: black;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#first {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
  gap: 30px;
  flex-wrap: wrap;
}

.user {
  width: 200px;
  text-align: center;
  padding: 5px;
  border: 2px solid white;
  border-radius: 5px;
  transition: transform 1s ease;
}

.user:hover{
    transform:  scale(1.2);
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

h2 {
  font-size: 20px;
  margin: 10px 0px;

}

a{
    text-decoration: none;
    color: orange;
}
