* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: black;
  color: white;
}

h1{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#first {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
  gap: 20px;
}

.users {
  width: 150px;
  text-align: center;
  padding: 5px;
  border: 2px solid white;
  border-radius: 5px;
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

h2{
    font-size: 20px;
}